@import 'includes/brand.less';
@import 'includes/typography.less';
@import 'includes/mixins.less';

* {
  .box-sizing;
}

/******GLOBAL STYLES*******/

body {
  background-color: @red;
}

nav#mainNav {
  @navbg: lighten(@red, 10%);
  background: fadeout(@navbg, 10%);
  /*position: fixed;*/
  padding: 15px 0px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: @headingsfont;
  z-index: 9999; /*****THANKS!!!******/
  ul {
    margin: 0 auto;
    width: 50%;
    li {
      display: inline-block;
      padding: 0px 6%;
      a:hover {
        color: @grey;
      }
    }
  }
}

.menuBtn {
  display: none;
}

footer {
  padding: 10px;
}

/************************/
/******HOME PAGE*********/

header#mainHeader {
  background-image: url('../images/pics/restaurant-bg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  #donnaLogo {
    margin-bottom: -40px;
    height: 350px;
    width: 350px;
    float: left;
  }
  h1 {
    margin: 0 0 30px -20px;
    float: left;
    width: 75%;
    font-size: 2em;
    line-height: 1.3em;
    color: @grey;
  }
}

body {
  background-color: grey;
  font-family: @bodyfont;
  font-size: 1em;
  color: #fff;
}

section#about {
  background: @red;
  color: @grey;
  padding-top: 10px;
  .content {
  padding-top: 20px; 
    .widthfloat(45%);
    h2 {
      padding-bottom: 5px;
    }
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
/*****************/
/*******MENU******/

section#soupMenu {
  h2 {
    font-size: @headingsfontsize;
    text-align: center;
    padding-top: 65px;
  }
}

section#pastaMenu {
  h2 {
    font-size: @headingsfontsize;
    text-align: center;
  }
}

section ul {
  padding: 35px;
}

section#pizzaMenu {
  h2 {
    font-size: @headingsfontsize;
    text-align: center;
    clear: both;
    padding-top: 20px;
  }
}
/*********************SOUPS*********************/

.frenchOnion {
  background-image: url('../images/pics/soup/frenchOnion.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.frenchOnion:hover {
  opacity: 1.0;
}

.italWed {
  background-image: url('../images/pics/soup/italWed.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.italWed:hover {
  opacity: 1.0;
}

.minestrone {
  background-image: url('../images/pics/soup/minestrone.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.minestrone:hover {
  opacity: 1.0;
}

.broccoli {
  background-image: url('../images/pics/soup/broccoli.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.broccoli:hover {
  opacity: 1.0;
}


/********************PASTA**********************/

.alfredo {
  background-image: url('../images/pics/pasta/fetAlf.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.alfredo:hover {
  opacity: 1.0;
}

.penneVodka {
  background-image: url('../images/pics/pasta/penneVodka.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.penneVodka:hover {
  opacity: 1.0;
}

.lasagna {
  background-image: url('../images/pics/pasta/lasagna.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.lasagna:hover {
  opacity: 1.0;
}

.cannelloni {
  background-image: url('../images/pics/pasta/cannelloni.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.cannelloni:hover {
  opacity: 1.0;
}

/***********************/


/*******PIZZA*******/
.fourCheese {
  background-image: url('../images/pics/pizza/4chSpin.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.fourCheese:hover {
  opacity: 1.0;
}

.margherita {
  background-image: url('../images/pics/pizza/margPizza.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.margherita:hover {
  opacity: 1.0;
}

.meatLovers{
  background-image: url('../images/pics/pizza/meatLovers.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.meatLovers:hover {
  opacity: 1.0;
}

.vegetarian {
  background-image: url('../images/pics/pizza/vegePizza.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}

.vegetarian:hover {
  opacity: 1.0;
}

.imgText {
  text-align: center;
  margin: 0;
  padding: 0 auto;
  color: @red;
  width: 100%;
}

.backSpan {
  opacity: 0.8;
  background-color: white;
}

section#pastaMenu {
  ul li {
  display: inline-block;
  }
}

/*********************************/



/*************CONTACT*************/



form {
  background: @grey;
  margin: 70px 0 0 350px;
  height: 500px;
  width: 600px;
  font-family: Helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin-bottom: 50px;
  h1 {
    text-align: center;
    text-decoration: underline;
    color: @red;
  }
}

span.input {
  font-size: 1.563em;
  margin-top: 60px;
  margin-bottom: -25px;
  display: block;
  color: @red;
}

#name {
  width: 300px;
  float: right;
}

#email {
  float: right;
  width: 300px;
}

#subject {
  float: right;
  width: 300px;
}

#feedback {
  float: right;
  width: 300px;
}

#submit {
  margin: 40px 0 0 235px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  background-color: @grey;
  height: 100px;
  width: 100px;
}

/**************/

/*********MEDIA QUERIES*********/

@media screen and (min-width: 768px) {



}

@media screen and (max-width: 480px) {
  
  .container {
    max-width: 95%;
  }

  header {
    .menuBtn {
      .boxmodel(100%);
      height: 32px;
      text-align: center;
    }
    nav {
      .boxmodel(100%);
      display: none;
      ul {
        padding: 5px 0;
        &:hover li {
          display: block;
        }
        li {
          display: block;
          padding: 0;
          width: 20px;
        }
        a {
          display: block;
          width: 100%;
          text-align: center;
          padding: 20px 0;
        }
      }
    }
  }

  header#mainHeader {
  h1 {
    margin: 0 0 0 50px;
    float: left;
    width: 75%;
    font-size: 2em;
    line-height: 1.3em;
    color: @grey;
  }
}


  section#about {
    .content {
      .widthfloat(90%);
    }
  }


  form {
    margin: 70px 0 0 20px;
    height: 500px;
    width: 350px;
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    h1 {
      text-align: center;
      text-decoration: none;
      color: @red;
    }
  }
}





