a:link {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: Ariel;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/******GLOBAL STYLES*******/
body {
  background-color: #330303;
}
nav#mainNav {
  background: rgba(99, 6, 6, 0.9);
  /*position: fixed;*/

  padding: 15px 0px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: Ariel;
  z-index: 9999;
}
nav#mainNav ul {
  margin: 0 auto;
  width: 50%;
}
nav#mainNav ul li {
  display: inline-block;
  padding: 0px 6%;
}
nav#mainNav ul li a:hover {
  color: #828282;
}
.menuBtn {
  display: none;
}
footer {
  padding: 10px;
}
/************************/
/******HOME PAGE*********/
header#mainHeader {
  background-image: url('../images/pics/restaurant-bg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
header#mainHeader #donnaLogo {
  margin-bottom: -40px;
  height: 350px;
  width: 350px;
  float: left;
}
header#mainHeader h1 {
  margin: 0 0 30px -20px;
  float: left;
  width: 75%;
  font-size: 2em;
  line-height: 1.3em;
  color: #828282;
}
body {
  background-color: #828282;
  font-family: Helvetica;
  font-size: 1em;
  color: #fff;
}
section#about {
  background: #330303;
  color: #828282;
  padding-top: 10px;
}
section#about .content {
  padding-top: 20px;
  float: left;
  display: inline-block;
  width: 45%;
  margin: 0 2.475%;
}
section#about .content h2 {
  padding-bottom: 5px;
}
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
/*****************/
/*******MENU******/
section#soupMenu h2 {
  font-size: 1.875em;
  text-align: center;
  padding-top: 65px;
}
section#pastaMenu h2 {
  font-size: 1.875em;
  text-align: center;
}
section ul {
  padding: 35px;
}
section#pizzaMenu h2 {
  font-size: 1.875em;
  text-align: center;
  clear: both;
  padding-top: 20px;
}
/*********************SOUPS*********************/
.frenchOnion {
  background-image: url('../images/pics/soup/frenchOnion.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.frenchOnion:hover {
  opacity: 1.0;
}
.italWed {
  background-image: url('../images/pics/soup/italWed.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.italWed:hover {
  opacity: 1.0;
}
.minestrone {
  background-image: url('../images/pics/soup/minestrone.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.minestrone:hover {
  opacity: 1.0;
}
.broccoli {
  background-image: url('../images/pics/soup/broccoli.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.broccoli:hover {
  opacity: 1.0;
}
/********************PASTA**********************/
.alfredo {
  background-image: url('../images/pics/pasta/fetAlf.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.alfredo:hover {
  opacity: 1.0;
}
.penneVodka {
  background-image: url('../images/pics/pasta/penneVodka.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.penneVodka:hover {
  opacity: 1.0;
}
.lasagna {
  background-image: url('../images/pics/pasta/lasagna.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.lasagna:hover {
  opacity: 1.0;
}
.cannelloni {
  background-image: url('../images/pics/pasta/cannelloni.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.cannelloni:hover {
  opacity: 1.0;
}
/***********************/
/*******PIZZA*******/
.fourCheese {
  background-image: url('../images/pics/pizza/4chSpin.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.fourCheese:hover {
  opacity: 1.0;
}
.margherita {
  background-image: url('../images/pics/pizza/margPizza.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.margherita:hover {
  opacity: 1.0;
}
.meatLovers {
  background-image: url('../images/pics/pizza/meatLovers.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.meatLovers:hover {
  opacity: 1.0;
}
.vegetarian {
  background-image: url('../images/pics/pizza/vegePizza.jpg');
  height: 300px;
  width: 300px;
  float: left;
  border: 1px solid #fff;
  opacity: 0.5;
}
.vegetarian:hover {
  opacity: 1.0;
}
.imgText {
  text-align: center;
  margin: 0;
  padding: 0 auto;
  color: #330303;
  width: 100%;
}
.backSpan {
  opacity: 0.8;
  background-color: white;
}
section#pastaMenu ul li {
  display: inline-block;
}
/*********************************/
/*************CONTACT*************/
form {
  background: #aaa;
  margin: 70px 0 0 350px;
  height: 500px;
  width: 600px;
  font-family: Helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin-bottom: 50px;
}
form h1 {
  text-align: center;
  text-decoration: underline;
  color: #330303;
}
span.input {
  font-size: 1.563em;
  margin-top: 60px;
  margin-bottom: -25px;
  display: block;
  color: #330303;
}
.field {
  width: 300px;
  float: right;
}
#submit {
  margin: 40px 0 0 235px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  background-color: #828282;
  height: 100px;
  width: 100px;
}
/**************/
/*********MEDIA QUERIES*********/
@media screen and (max-width: 768px) {
  /********HOME PAGE********/
  .container {
    max-width: 95%;
  }
  nav {
    display: none;
  }
  nav ul li {
    width: 290px;
    text-align: center;
    line-height: 80px;
  }
  .menuBtn {
    display: block;
    margin: 5px 0 0 375px;
  }
  section#about .content {
    width: 95%;
    clear: both;
  }
  /*********************/
  /********MENU*********/
  section#soupMenu {
    margin-left: 50px;
  }
  .frenchOnion {
    opacity: 1.0;
  }
  .italWed {
    opacity: 1.0;
  }
  .minestrone {
    opacity: 1.0;
  }
  .broccoli {
    opacity: 1.0;
  }
  section#pastaMenu {
    margin-left: 50px;
    clear: both;
  }
  .alfredo {
    opacity: 1.0;
  }
  .penneVodka {
    opacity: 1.0;
  }
  .lasagna {
    opacity: 1.0;
  }
  .cannelloni {
    opacity: 1.0;
  }
  section#pizzaMenu {
    margin-left: 50px;
  }
  .fourCheese {
    opacity: 1.0;
  }
  .margherita {
    opacity: 1.0;
  }
  .meatLovers {
    opacity: 1.0;
  }
  .vegetarian {
    opacity: 1.0;
  }
  /***********************/
  /*********CONTACT********/
  form {
    margin: 20px 0 0 130px;
    height: 520px;
    width: 500px;
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 1px;
    margin-bottom: 50px;
    text-align: center;
  }
  form h1 {
    text-align: center;
    text-decoration: none;
    color: #330303;
  }
  .input {
    padding-bottom: 45px;
    margin: 0 auto;
  }
  .field {
    margin: 0 80px 0 120px;
  }
  #submit {
    margin: 5px 0 0 0;
    height: 85px;
    width: 85px;
  }
}
/************************/
@media screen and (max-width: 480px) {
  /********HOME PAGE***********/.container {
    max-width: 95%;
  }
  nav {
    display: none;
  }
  nav ul li {
    width: 130px;
    text-align: center;
    line-height: 40px;
  }
  header .menuBtn {
    float: left;
    display: inline-block;
    width: 1%;
    margin-left: 180px;
    height: 32px;
    text-align: center;
    margin-top: 15px;
  }
  header ul {
    padding: 5px 0;
  }
  header ul:hover li {
    display: none;
  }
  header ul li {
    display: none;
    padding: 30px;
    width: 20px;
  }
  header ul a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .menuBtn {
    display: block;
    margin: 10px 0 0 190px;
  }
  header#mainHeader h1 {
    margin: 0 0 0 50px;
    float: left;
    width: 75%;
    font-size: 2em;
    line-height: 1.3em;
    color: #828282;
  }
  section#about .content {
    float: left;
    display: inline-block;
    width: 90%;
    margin: 0 4.95%;
  }
  /******************/
  /*******MENU********/
  section#soupMenu {
    margin-left: 15px;
  }
  .frenchOnion {
    opacity: 1.0;
  }
  .italWed {
    opacity: 1.0;
  }
  .minestrone {
    opacity: 1.0;
  }
  .broccoli {
    opacity: 1.0;
  }
  section#pastaMenu {
    margin-left: 15px;
  }
  .alfredo {
    opacity: 1.0;
  }
  .penneVodka {
    opacity: 1.0;
  }
  .lasagna {
    opacity: 1.0;
  }
  .cannelloni {
    opacity: 1.0;
  }
  section#pizzaMenu {
    margin-left: 15px;
  }
  .fourCheese {
    opacity: 1.0;
  }
  .margherita {
    opacity: 1.0;
  }
  .meatLovers {
    opacity: 1.0;
  }
  .vegetarian {
    opacity: 1.0;
  }
  /********************/
  /*********CONTACT*******/
  form {
    margin: 20px 0 0 20px;
    height: 520px;
    width: 350px;
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 1px;
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
  }
  form h1 {
    text-align: center;
    text-decoration: none;
    color: #330303;
  }
  .input {
    padding-bottom: 45px;
  }
  .field {
    width: 150px;
  }
  #submit {
    margin: 10px 0 0 0;
    height: 75px;
    width: 75px;
  }
}
/*********************/